/* Colors */

$primary-color: #0E1E59;
$secondary-color: #CB2A35;
$tertiary-color: rgb(255, 255, 255);






/* Fonts-size */

$fs-titles: 2rem;
$fs-paragraph: 1.2rem;
$fs-button: 0.9rem;



/* Buttons settings - layout */

@mixin button {

    @content;
    font-size: $fs-button;
    padding: 15px 50px;
    color: $tertiary-color;
    background-color: transparent;
    border: 2px solid $secondary-color;


}


/* Layouts */

@mixin column-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @content;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

@mixin image-container {
    
    display: flex;
    min-width: 50%;
    height: auto;
    justify-content: flex-start;
    @content;

}