@import './_header.scss';
@import './variables';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    
}

.full-height-container {

    display: flex;
    flex-direction: column;
    

}



/* Hero-slide */ 

.hero_slide {
    padding-top: 150px;
    background-image: linear-gradient(black, blue);
    min-height: 30vh;


}


.flex_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;




/* Image setup */

    .image_container {

        display: flex;
        min-width: 50%;
        height: auto;
        justify-content: flex-start;
        

        .image {
            
            background-image: url('./images/Hero-image.png');
            height: 100vh; 
            min-width: 100%;
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 80%;
            
        }
    
    
    
    }

    

}


/* Hero-slide - text column */ 

.text_container {

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    position: relative;
    color: white;
    font-size: $fs-titles;
   
    
    
        
        
        
    h1 {
           
        font-size: 200%;
        font-weight: 500;
        width: 80%;
    }

    p {

        font-size: $fs-paragraph;
        font-weight: 400;
        margin: 1.5rem 0;

    }

    .btn {

        @include button {

            margin-top: 1rem;


        }
        
        /* Animated background of the button to create a swipe effect */

        cursor: pointer;
        background: linear-gradient(to left, transparent 50%, $secondary-color 50%)right;
        transition: .5s ease-in;
        background-size: 200%;

    &:hover {

        
        background-position: left;


    }


    }
    

}

