nav {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.445), rgba(0, 0, 0, 0.185));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 80px;
  border-bottom: 2px solid gray;
  width: 100%;
  position: fixed;
  z-index: 99;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

nav .nav-container .nav_links-style {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .nav-container .nav_links-style a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

/* Logo */
.logo {
  display: inline-block;
  height: auto;
}

.logo img {
  display: inline-block;
}

/* Colors */
/* Fonts-size */
/* Fonts-size-mobile */
/* Buttons settings - layout */
/* Layouts */
/* Typography settings */
/* Typography for desktop */
/* Images responsivness-desktop */
/* Colors */
/* Fonts-size */
/* Fonts-size-mobile */
/* Buttons settings - layout */
/* Layouts */
/* Typography settings */
/* Typography for desktop */
/* Images responsivness-desktop */
footer {
  background-color: #111111;
}

.footer_layout {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

.footer_layout h1 {
  font-size: 130%;
  font-weight: 500;
  width: 100%;
  white-space: no-wrap;
}

.footer_layout p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.footer_layout li {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  padding: 10px 0;
}

.footer_layout a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.footer_layout p {
  padding-top: 50px;
  font-size: 0.9rem;
  text-align: center;
  margin: 0px;
}

.footer_container, .social_media_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  margin: 0px;
}

.footer_container .footer_logo, .social_media_container .footer_logo {
  width: auto;
  height: 100%;
}

.footer_container .footer_logo img, .social_media_container .footer_logo img {
  width: 250px;
  height: auto;
}

.social_media_container {
  width: 20%;
  margin: 0 auto;
}

.social_media_container .social_media_links {
  width: 60px;
  height: 60px;
}

.social_media_container .social_media_links img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Responsivness of the Footer */
@media (max-width: 700px) {
  .footer_layout {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: white;
  }
  .footer_layout h1 {
    font-size: 1.9rem;
    font-weight: 500;
    width: 100%;
    white-space: no-wrap;
  }
  .footer_layout p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }
  .footer_layout li {
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
    padding: 10px 0;
  }
  .footer_layout a {
    color: black;
    font-size: 1rem;
  }
  .footer_layout a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  .footer_layout p {
    padding-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    margin: 0px;
  }
  .footer_container, .social_media_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social_media_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
    width: 35%;
  }
  .social_media_container .social_media_links {
    width: 55px;
    height: 55px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.full-height-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Hero-slide */
.hero_slide {
  padding-top: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(blue));
  background-image: linear-gradient(black, blue);
  min-height: 30vh;
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  /* Image setup */
}

.flex_container .image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex_container .image_container .hero_image {
  background-image: url("./images/Hero-image.png");
  height: 100vh;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80%;
}

/* Hero-slide - text column */
.text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}

.text_container h1 {
  font-size: 200%;
  font-weight: 500;
  width: 80%;
}

.text_container p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.text_container .btn {
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 15px 50px;
  color: white;
  background-color: transparent;
  border: 2px solid #CB2A35;
  /* Animated background of the button to create a swipe effect */
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #CB2A35)) right;
  background: linear-gradient(to left, transparent 50%, #CB2A35 50%) right;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  background-size: 200%;
}

.text_container .btn:hover {
  background-position: left;
}

/* Info-slide - text column */
.flex_container-style {
  max-width: 1500px;
  margin: 0 auto;
  border: 1px solid #48ff11;
}

.info_slide {
  background-color: #0E1E59;
}

.text_container-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #CB2A35;
  border: 4px solid white;
  margin: 50px;
  width: 100%;
  border: 1px solid #48ff11;
}

.text_container-style .btn-style {
  border: 3px solid white;
  margin: 0;
  font-weight: bold;
}

.text_container-style h1 {
  font-size: 130%;
  font-weight: 500;
  width: 100%;
  white-space: no-wrap;
}

.text_container-style p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.text_container-style li {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  padding: 10px 0;
}

/* Cards styling */
.flex_container-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text_container-style .box_card {
  width: 100%;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_container-style .box_card .text-box {
  padding: 20px;
  border: 1px solid #750bff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  width: 100%;
}

.text_container-style .box_card .image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: inline-block;
  border: 1px solid #00ffdd;
  min-width: 30%;
}

.text_container-style .box_card .image_container .card-image {
  max-width: 300px;
  width: 100%;
  border: 1px solid #00ffdd;
}

/* Image setup */
.image_container-position {
  border: 1px solid red;
  margin-left: 1rem;
}

.image_container-position .info_image {
  background-image: url("./images/Red-car.png");
  height: 100vh;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80%;
  border: 1px solid red;
}

/* Third section - Poduct showcase */
.showcase_section, .testimonials_section, .about_us_section, .partners_section, .newsletter_section {
  background-color: #0E1E59;
  color: white;
  color: white;
}

.showcase_section h1, .testimonials_section h1, .about_us_section h1, .partners_section h1, .newsletter_section h1 {
  font-size: 130%;
  font-weight: 500;
  width: 100%;
  white-space: no-wrap;
}

.showcase_section p, .testimonials_section p, .about_us_section p, .partners_section p, .newsletter_section p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.showcase_section li, .testimonials_section li, .about_us_section li, .partners_section li, .newsletter_section li {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  padding: 10px 0;
}

.showcase_section h1, .testimonials_section h1, .about_us_section h1, .partners_section h1, .newsletter_section h1 {
  font-size: 130%;
  font-weight: 500;
  width: 100%;
  white-space: no-wrap;
}

.showcase_section p, .testimonials_section p, .about_us_section p, .partners_section p, .newsletter_section p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.showcase_section li, .testimonials_section li, .about_us_section li, .partners_section li, .newsletter_section li {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  padding: 10px 0;
}

.showcase_section .showcase_container, .testimonials_section .showcase_container, .about_us_section .showcase_container, .partners_section .showcase_container, .newsletter_section .showcase_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 100px;
}

.showcase_section .showcase_container .btn-selection, .testimonials_section .showcase_container .btn-selection, .about_us_section .showcase_container .btn-selection, .partners_section .showcase_container .btn-selection, .newsletter_section .showcase_container .btn-selection {
  font-size: 0.9rem;
  padding: 15px 50px;
  color: white;
  background-color: transparent;
  border: 2px solid #CB2A35;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #CB2A35)) right;
  background: linear-gradient(to left, transparent 50%, #CB2A35 50%) right;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  background-size: 200%;
  margin-bottom: 100px;
}

.showcase_section .showcase_container .btn-selection:hover, .testimonials_section .showcase_container .btn-selection:hover, .about_us_section .showcase_container .btn-selection:hover, .partners_section .showcase_container .btn-selection:hover, .newsletter_section .showcase_container .btn-selection:hover {
  background-position: left;
}

.showcase_section .header-title, .testimonials_section .header-title, .about_us_section .header-title, .partners_section .header-title, .newsletter_section .header-title {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.showcase_section .header-title svg, .testimonials_section .header-title svg, .about_us_section .header-title svg, .partners_section .header-title svg, .newsletter_section .header-title svg {
  position: absolute;
  width: 20%;
  height: auto;
  top: -50px;
  left: -40px;
  z-index: 1;
}

.showcase_section .header-title h1, .testimonials_section .header-title h1, .about_us_section .header-title h1, .partners_section .header-title h1, .newsletter_section .header-title h1 {
  font-size: 2rem;
  position: relative;
  z-index: 2;
  width: 100%;
  white-space: nowrap;
}

.showcase_section .category-container, .testimonials_section .category-container, .about_us_section .category-container, .partners_section .category-container, .newsletter_section .category-container {
  position: relative;
  max-width: 1100px;
  width: 100%;
  height: 0;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
  min-height: 80vh;
  gap: 20px;
}

.showcase_section .category-container .car-container, .testimonials_section .category-container .car-container, .about_us_section .category-container .car-container, .partners_section .category-container .car-container, .newsletter_section .category-container .car-container {
  width: 300px;
  height: auto;
  border: 1px solid red;
}

.showcase_section .category-container #c-1, .testimonials_section .category-container #c-1, .about_us_section .category-container #c-1, .partners_section .category-container #c-1, .newsletter_section .category-container #c-1, .showcase_section .category-container #c-2, .testimonials_section .category-container #c-2, .about_us_section .category-container #c-2, .partners_section .category-container #c-2, .newsletter_section .category-container #c-2, .showcase_section .category-container #c-3, .testimonials_section .category-container #c-3, .about_us_section .category-container #c-3, .partners_section .category-container #c-3, .newsletter_section .category-container #c-3 {
  display: none;
}

/* Card setup */
.car-container .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.281);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 20%;
  left: 0;
  bottom: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
}

.car-container .prev:hover {
  border: 1px solid white;
}

.car-container .prev span {
  font-size: 2.2rem;
}

.car-container .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.281);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 20%;
  right: 0;
  bottom: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
}

.car-container .next:hover {
  border: 1px solid white;
}

.car-container .next span {
  font-size: 2.2rem;
}

.car-container .car-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.car-container .car-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid white;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.car-container .btn-category {
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  line-height: 2.8rem;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.car-container {
  -webkit-transition: margin .3s ease-in;
  transition: margin .3s ease-in;
}

.car-container .car-image {
  -webkit-filter: opacity(35%);
          filter: opacity(35%);
  -webkit-transition: -webkit-filter .3s ease-in;
  transition: -webkit-filter .3s ease-in;
  transition: filter .3s ease-in;
  transition: filter .3s ease-in, -webkit-filter .3s ease-in;
}

.car-container .btn-category {
  -webkit-filter: opacity(5%);
          filter: opacity(5%);
  -webkit-transition: -webkit-filter .3s ease-in;
  transition: -webkit-filter .3s ease-in;
  transition: filter .3s ease-in;
  transition: filter .3s ease-in, -webkit-filter .3s ease-in;
}

/* Adding slider functionality */
/* Because of the absolute positioniing of the arrows they stacked on top of each other, 
i created a sytem that says when a button is pressed every unnecesary arrow will disappear 
in order to make the slider go next or back according to the instruction of the label for the specific button */
#c-1:checked ~ #two #two-arrow, #three #three-arrow {
  display: none;
}

#c-2:checked ~ #one #one-arrow, #three #three-arrow {
  display: none;
}

#c-1:checked ~ #one .car-image {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-1:checked ~ #one .btn-category {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-1:checked ~ #one {
  margin-top: 150px;
}

#c-2:checked ~ #two .car-image {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-2:checked ~ #two .btn-category {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-2:checked ~ #two {
  margin-top: 150px;
}

#c-3:checked ~ #three .car-image {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-3:checked ~ #three .btn-category {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#c-3:checked ~ #three {
  margin-top: 150px;
}

/* Testimonial Section */
.testimonials_section {
  background-color: #0E1E59;
  border: 1px solid red;
}

.testimonials_container, .about_us_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #2bff00;
  padding: 20px;
  padding-top: 100px;
  position: relative;
}

.testimonials_container #btn-1, .about_us_container #btn-1, .testimonials_container #btn-2, .about_us_container #btn-2, .testimonials_container #btn-3, .about_us_container #btn-3, .testimonials_container #btn-4, .about_us_container #btn-4 {
  display: none;
}

.testimonials_container .prev, .about_us_container .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.281);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 20%;
  left: -100px;
  bottom: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
}

.testimonials_container .prev:hover, .about_us_container .prev:hover {
  border: 1px solid white;
}

.testimonials_container .prev span, .about_us_container .prev span {
  font-size: 2.2rem;
}

.testimonials_container .next, .about_us_container .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.281);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 20%;
  right: -100px;
  bottom: 50%;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
}

.testimonials_container .next:hover, .about_us_container .next:hover {
  border: 1px solid white;
}

.testimonials_container .next span, .about_us_container .next span {
  font-size: 2.2rem;
}

.testimonials_container .dots_navbar, .about_us_container .dots_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 30px;
  margin-top: 50px;
  z-index: 99;
}

.testimonials_container .dots_navbar .dots-style, .about_us_container .dots_navbar .dots-style {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}

.testimonials_container .testimonials_container-slider, .about_us_container .testimonials_container-slider {
  background-color: transparent;
  height: 0;
  padding-bottom: 250px;
  max-width: 800px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials_container .testimonial_card, .about_us_container .testimonial_card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  width: 600px;
  height: 100%;
}

.testimonials_container .testimonial_card-style, .about_us_container .testimonial_card-style, .testimonials_container .info_cards-style, .about_us_container .info_cards-style {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 0px;
  z-index: -1;
}

.testimonials_container .testimonial_card-style .profile_container, .about_us_container .testimonial_card-style .profile_container, .testimonials_container .info_cards-style .profile_container, .about_us_container .info_cards-style .profile_container {
  width: 100px;
  height: auto;
  border-radius: 70%;
  text-align: center;
}

.testimonials_container .testimonial_card-style .profile_container .profile_image, .about_us_container .testimonial_card-style .profile_container .profile_image, .testimonials_container .info_cards-style .profile_container .profile_image, .about_us_container .info_cards-style .profile_container .profile_image {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

.testimonials_container .testimonial_card-style .description, .about_us_container .testimonial_card-style .description, .testimonials_container .info_cards-style .description, .about_us_container .info_cards-style .description {
  padding-left: 35px;
  width: 100%;
}

.testimonials_container .testimonial_card-style .description-style svg, .about_us_container .testimonial_card-style .description-style svg, .testimonials_container .info_cards-style .description-style svg, .about_us_container .info_cards-style .description-style svg {
  width: 8%;
  height: auto;
}

.testimonials_container .testimonial_title, .about_us_container .testimonial_title {
  font-size: 2rem;
  border: 1px solid red;
  margin-bottom: 5rem;
  text-align: center;
  z-index: 1;
}

.testimonials_container .testimonial_title .h1-effect, .about_us_container .testimonial_title .h1-effect {
  font-size: 110%;
  font-weight: bold;
  letter-spacing: 0.5rem;
  position: relative;
  top: -30px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.384));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonials_container .circle, .about_us_container .circle {
  position: absolute;
  right: 250px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255, 0, 0, 0.384), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}

.testimonials_container .circle::after, .about_us_container .circle::after {
  content: "";
  position: absolute;
  top: -250px;
  right: 150px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(255, 0, 0, 0.233), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}

/* About US Section */
.about_us_section, .partners_section, .newsletter_section {
  background-color: #0E1E59;
}

.about_us_container {
  max-width: 100%;
  padding: 0px;
}

.about_us_container .header-title-style {
  margin-bottom: 50px;
}

.about_us_container .header-title-style svg {
  position: absolute;
  width: 50%;
  height: auto;
  top: -20px;
  left: -40px;
  z-index: 1;
}

.about_us_container .header-title-style h1 {
  font-size: 2rem;
  position: relative;
  z-index: 2;
  width: 100%;
  white-space: nowrap;
}

.about_us_container .cards_wrapper-position {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  padding: 0 20px;
  z-index: 9;
}

.about_us_container .cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 550px;
}

/* Placing an object as a background */
.cards_wrapper-background {
  background-image: url("./images/About US-object.png");
  width: 50%;
  height: auto;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  left: 100px;
  z-index: 1;
}

/* Customizing the cards */
.info_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  max-width: 250px;
}

.info_cards-style {
  border-radius: 10px;
}

.info_cards-style .info_cards_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_cards-style .info_cards_title .info_cards_image {
  width: 180px;
  height: auto;
  position: relative;
  padding-right: 1rem;
}

.info_cards-style .info_cards_title .info_cards_image img {
  width: 100%;
  height: 100%;
}

/* Car display */
.about_us_car {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
  z-index: 9;
}

.about_us_car img {
  width: 600px;
  height: auto;
}

/* Our partners Section */
.partners_section h1 {
  font-size: 200%;
  text-align: center;
  padding: 40px;
}

.partners_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.partners_container-style {
  background-color: rgba(0, 0, 0, 0.322);
  line-height: 6rem;
}

.partners_container-style li {
  height: 100px;
  width: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners_container-style li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Newletter Section */
.newsletter_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.newsletter_section_container-style {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.newsletter_image_container {
  min-width: 50%;
  height: auto;
}

.newsletter_image_container .newsletter_image {
  background-image: url("./images/newsletter-photo.png");
  min-width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: center center;
}

.newsletter_text h1 {
  padding-bottom: 30px;
  font-size: 150%;
  width: 60%;
}

.newsletter_text .call_to_action-style {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.411), rgba(255, 255, 255, 0.103));
  line-height: 2.7rem;
  width: 100%;
  padding: 0 20px;
  border: 1px solid white;
  color: white;
}

.newsletter_text .call_to_action-style::-webkit-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.788);
  font-size: 1.2rem;
}

.newsletter_text .call_to_action-style:-ms-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.788);
  font-size: 1.2rem;
}

.newsletter_text .call_to_action-style::-ms-input-placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.788);
  font-size: 1.2rem;
}

.newsletter_text .call_to_action-style::placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.788);
  font-size: 1.2rem;
}

.button {
  position: relative;
}

.button .btn-newsletter {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 15px;
  padding: 2px 13px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.418);
  background-color: transparent;
}

.button .btn-newsletter:hover {
  border: 4px solid white;
}

.button .btn-newsletter span {
  font-weight: bold;
  color: white;
  font-size: 200%;
}

/* Responsivness Hero-section */
@media (max-width: 700px) {
  .flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .image_container-position {
    display: none;
  }
  .image_container-position .info_image {
    display: none;
  }
  html {
    font-size: 80%;
  }
}

/* Responsivness Info-section */
@media (max-width: 700px) {
  .flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image_container {
    display: none;
  }
  .image_container .hero_image {
    display: none;
  }
  .text_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 2rem;
  }
  .text_container h1 {
    font-size: 170%;
    font-weight: 500;
    width: 100%;
  }
  .text_container p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }
}

/* Responsivness About-us-section */
@media only screen and (max-width: 700px) {
  .cards_wrapper-position {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid red;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards_wrapper {
    max-width: 300px;
    width: 100%;
  }
  .cards_wrapper .info_cards {
    width: 100%;
    max-width: 400px;
    height: 300px;
  }
  /* Text auto resize */
  .info_cards-style {
    color: white;
  }
  .info_cards-style h1 {
    font-size: 1.9rem;
    font-weight: 500;
    width: 100%;
    white-space: no-wrap;
  }
  .info_cards-style p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }
  .info_cards-style li {
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
    padding: 10px 0;
  }
  .info_cards-style a {
    color: black;
    font-size: 1rem;
  }
  .cards_wrapper-background {
    display: none;
  }
  .about_us_car {
    display: none;
  }
}

/* Responsivness Car category selection */
@media (max-width: 700px) {
  .header-title svg {
    display: none;
  }
  .header-title h1 {
    font-size: 1.9rem;
    z-index: 2;
    width: 100%;
    border: 1px solid red;
    white-space: nowrap;
  }
  #c-1:checked ~ #one {
    margin-left: 130%;
  }
  #c-3:checked ~ #three {
    margin-right: 130%;
  }
}

/* Responsivness Testimonial-section */
@media (max-width: 700px) {
  .testimonials_container-slider {
    background-color: transparent;
    height: 0;
    padding-bottom: 250px;
    border: 1px solid #00ff62;
    max-width: 600px;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials_container-slider .testimonial_card {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
}

#btn-1:checked ~ #one,
#btn-2:checked ~ #two,
#btn-3:checked ~ #three,
#btn-4:checked ~ #four {
  z-index: 9;
}

#btn-1:checked ~ .dots_navbar #dot-1,
#btn-2:checked ~ .dots_navbar #dot-2,
#btn-3:checked ~ .dots_navbar #dot-3,
#btn-4:checked ~ .dots_navbar #dot-4 {
  background-color: rgba(255, 0, 0, 0.37);
}

/* Responsivness Our-partners-section */
@media (max-width: 700px) {
  .partners_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .partners_container-style li {
    width: 100px;
    height: 100px;
  }
}

/* Responsivness Newsletter-section */
@media (max-width: 700px) {
  .newsletter_section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 20px;
  }
  .button {
    position: relative;
  }
  .button .btn-newsletter {
    cursor: pointer;
    position: absolute;
    top: 0.1rem;
    right: 15px;
    padding: 1px 7px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.418);
    background-color: transparent;
  }
  .button .btn-newsletter span {
    font-weight: bold;
    color: white;
    font-size: 160%;
  }
  .newsletter_image_container {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */